.Lottery {
    margin: 2rem auto;
    padding: 2rem 0;
    width: 400px;
    border: 1px solid yellowgreen;
    border-radius: 5px;
}

.Lottery h1,
.Lottery button {
    margin: 1rem;
}

.Lottery button {
    padding: 1rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(245, 215, 133);
    cursor: pointer;
    border: 1px solid rgb(245, 215, 133);
}

.Lottery button:hover {
    border: 1px solid #ff6347;
}